@import "tailwindcss";

/* =======================
      GLOBAL RESET
======================== */


/* =======================
      GLOBAL VARIABLES
======================== */
:root {
  /* Brand Colors */
  --primary: #BEF264;
  --primary-gradient: linear-gradient(to right,
      #00dade82 0%,
      rgba(131, 25, 131, 0.39) 50%,
      rgba(11, 10, 11, 0) 60%);


  /* primary blue */
  --primary-dark: #9cec12;
  --secondary: #B4B5B5;
  /* green */
  --danger: #ef4444;
  /* red */
  --warning: #f59e0b;
  /* yellow */
  --gray: #6b7280;

  /* Background Colors */
  --bg-dark: #010103;
  --bg-light: #181A1F;

  /* Text Colors */
  --text-primary: #111827;
  --text-light: #f8fafc;

  /* Radius / Borders */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 14px;

  /* Font Sizes */
  --fs-sm: 0.85rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;

  /* Font Weights */
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* =======================
      GLOBAL BODY STYLE
======================== */
body {
  font-family: "Inter", sans-serif;
  background: var(--bg-dark);
  color: var(--text-primary);
}

.primary-dark {
  color: var(--bg-dark);
}

.primary-gradient {
  background: #fc00ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #0a000a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: var(--primary-gradient);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.primary-dark:hover {
  color: var(--primary);
}



.primary {
  color: var(--primary-);
}

/* bg************ */
.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-dark {
  background-color: var(--bg-dark) !important;
}

.bg-light {
  background-color: var(--bg-light);
}






/* =======================
      BUTTON STYLES (GLOBAL)
======================== */
button {
  font-size: var(--fs-md);
  padding: 10px 18px;
  border-radius: var(--radius-md);
  border: none;
  font-weight: var(--fw-medium);
  cursor: pointer;
  transition: 0.2s ease;
}

/* Primary Button */


/* Secondary Button */
.btn-secondary {
  background: var(--secondary);
}

.btn-secondary:hover {
  opacity: 0.9;
}


/* Outline Variant */

.custom-outline {
  border: 0.1px solid var(--primary) !important;
  color: var(--primary) !important;
}




.btn-outline:hover {
  background: var(--primary);
  color: white;
}

/* ===== Custom Scrollbar ===== */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.45);
}