@import "tailwindcss";

/* =======================
      GLOBAL RESET
======================== */


/* =======================
      GLOBAL VARIABLES
======================== */
:root {
  /* Brand Colors */
  --primary: #BEF264;
  /* primary blue */
  --primary-dark: #9cec12;
  --secondary: #B4B5B5;
  /* green */
  --danger: #ef4444;
  /* red */
  --warning: #f59e0b;
  /* yellow */
  --gray: #6b7280;

  /* Background Colors */
  --bg-dark: #010103;
  --bg-light: #181A1F;

  /* Text Colors */
  --text-primary: #111827;
  --text-light: #f8fafc;

  /* Radius / Borders */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 14px;

  /* Font Sizes */
  --fs-sm: 0.85rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;

  /* Font Weights */
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* =======================
      GLOBAL BODY STYLE
======================== */
body {
  font-family: "Inter", sans-serif;
  background: var(--bg-light);
  color: var(--text-primary);
}

.primary-dark {
  color: var(--primary-dark);
}

.primary-dark:hover {
  color: var(--primary);
}



.primary {
  color: var(--primary-);
}

/* bg************ */
.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-dark {
  background-color: var(--bg-dark) !important;
}

.bg-light {
  background-color: var(--bg-light);
}






/* =======================
      BUTTON STYLES (GLOBAL)
======================== */
button {
  font-size: var(--fs-md);
  padding: 10px 18px;
  border-radius: var(--radius-md);
  border: none;
  font-weight: var(--fw-medium);
  cursor: pointer;
  transition: 0.2s ease;
}

/* Primary Button */


/* Secondary Button */
.btn-secondary {
  background: var(--secondary);
}

.btn-secondary:hover {
  opacity: 0.9;
}


/* Outline Variant */

.custom-outline {
  border: 0.1px solid var(--primary) !important;
  color: var(--primary) !important;
}




.btn-outline:hover {
  background: var(--primary);
  color: white;
}